body {
  color: #333;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body {
  background-color: #f5f5f5;
  font-family: "Moderatog 4 L", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  padding-bottom: 0;
  padding-left: 9%;
  padding-right: 9%;
}

.nav {
  z-index: 3;
  background-color: #070707;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  position: fixed;
  left: 0;
  right: 0;
}

.grid-wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.grid-wrapper.section-1-mod {
  min-height: 100vh;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.section-1 {
  background-color: #0d6475;
}

.section-2 {
  background-color: #662138;
}

.section-3 {
  background-color: #171818;
}

.section-4 {
  background-color: #f5f5f5;
}

.section-4_bg {
  min-height: 100vh;
  background-color: #171818;
  border-radius: 0 0 2rem 2rem;
}

.section-3_bg {
  min-height: 100vh;
  background-color: #662138;
  border-radius: 0 0 2rem 2rem;
}

.section-2_bg {
  min-height: 100vh;
  background-color: #0d6475;
  border-radius: 0 0 2rem 2rem;
}

.section-1_bg {
  min-height: 100vh;
  background-color: #171818;
  background-image: url('../images/hero_image.jpg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 2rem 2rem;
}

.nav_wrapper {
  grid-column-gap: 1.5rem;
  background-color: #070707;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  padding-top: .5rem;
  padding-bottom: .75rem;
  display: flex;
}

.nav_links {
  color: #f5f5f5;
  cursor: pointer;
  font-family: "Moderatog 5 L 0", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0;
}

.nav_links.w--current {
  opacity: 1;
}

.nav_links_txt {
  color: rgba(245, 245, 245, .95);
  font-family: "Moderatog 4 L", sans-serif;
  font-size: 1rem;
  line-height: 11px;
  transition: opacity .2s;
}

.nav_links_txt:hover {
  color: rgba(245, 245, 245, .55);
}

.image {
  max-height: 2.5rem;
  opacity: .95;
  color: #90cf1b;
}

.grid {
  min-height: 100vh;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  display: grid;
}

.grid_column {
  grid-row-gap: 1rem;
  flex-direction: column;
  display: flex;
}

.grid_column.section1-grid {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-image {
  border-radius: 1rem;
}

.grid-image.hide {
  display: none;
}

.grid-text {
  color: rgba(245, 245, 245, .95);
  background-color: #171818;
  border-radius: 1rem;
  padding: 1.625rem;
}

.grid-text.darker {
  background-color: #070707;
}

.grid-text.blue {
  background-color: #0d6475;
}

.grid-text.blue.no-border-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.txt_block {
  font-family: "Moderatog 4 L", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 135%;
}

.contact_links-wrapper {
  grid-column-gap: 2.875rem;
  justify-content: center;
  margin-top: 3.75rem;
  display: flex;
}

.fotter_logo-wrapper {
  justify-content: center;
  padding-top: 2.25rem;
  padding-bottom: 1.5rem;
  display: flex;
}

.footer_links {
  grid-column-gap: .25rem;
  color: #070707;
  cursor: pointer;
  align-items: center;
  transition: color .2s;
  display: flex;
}

.footer_links:hover {
  color: #070707;
}

.footer-links_txt {
  white-space: nowrap;
  word-break: keep-all;
  font-family: "Moderatog 5 L 0", sans-serif;
  font-size: 1.125rem;
  line-height: 1;
}

.menu_wrapper {
  grid-column-gap: 1.5rem;
  display: flex;
}

.headings {
  font-weight: 400;
}

.heading {
  color: rgba(245, 245, 245, .85);
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Moderatog 5 Lb 0", sans-serif;
  font-size: 2.25rem;
  line-height: 1;
}

.heading.reset {
  margin-bottom: 0;
}

.inner-link {
  color: rgba(245, 245, 245, .55);
  cursor: pointer;
  transition: opacity .2s;
}

.inner-link:hover {
  color: rgba(245, 245, 245, .95);
}

.image-2 {
  opacity: .75;
  position: absolute;
  top: 30%;
}

.hidden-desktop {
  display: none;
}

.link-block {
  color: rgba(245, 245, 245, .75);
}

.html-embed {
  color: rgba(245, 245, 245, .55);
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-left: 7%;
    padding-right: 7%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .grid-image.hidden-desktop {
    display: block;
  }

  .contact_links-wrapper {
    grid-column-gap: 2.25rem;
  }

  .hide-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding-left: 6%;
    padding-right: 6%;
  }

  .nav, .section-4_bg, .section-3_bg, .section-2_bg, .section-1_bg {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .grid-image, .grid-text.darker {
    border-radius: .5rem;
  }

  .grid-text.blue.no-border-bottom {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  .contact_links-wrapper {
    grid-row-gap: 1rem;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  .hidden-icon_mobile {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    padding-left: 6%;
    padding-right: 6%;
  }

  .nav_wrapper {
    grid-row-gap: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .grid {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .grid.one-mobile {
    grid-template-columns: 1fr;
  }

  .logo-wrapper {
    align-self: center;
  }

  .menu_wrapper {
    grid-column-gap: 0rem;
    justify-content: space-between;
    align-self: stretch;
  }
}

#w-node-e22d4f58-4773-8a01-8e0d-7eb6787d722c-8eacee0b, #w-node-c20635c7-666b-2dee-12e6-0fc8af35e299-8eacee0b, #w-node-_7f93a254-8fd4-20fa-5ac9-11fa13e6d520-8eacee0b, #w-node-f8b1ae52-5bef-4265-f6eb-8a593055543d-8eacee0b, #w-node-_44ba8015-59f9-6391-d7e9-38843a052d57-8eacee0b, #w-node-_44ba8015-59f9-6391-d7e9-38843a052d5b-8eacee0b, #w-node-_44ba8015-59f9-6391-d7e9-38843a052d60-8eacee0b, #w-node-_44ba8015-59f9-6391-d7e9-38843a052d64-8eacee0b, #w-node-_6a187417-31f7-ba62-21da-3cf617fded82-8eacee0b, #w-node-_6a187417-31f7-ba62-21da-3cf617fded8a-8eacee0b, #w-node-_6a187417-31f7-ba62-21da-3cf617fded9a-8eacee0b, #w-node-_6a187417-31f7-ba62-21da-3cf617fdeda2-8eacee0b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Moderatog 5 L 0';
  src: url('../fonts/moderatoG5_L_0.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Moderatog 5 Lb 0';
  src: url('../fonts/moderatoG5_Lb_0.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Moderatog 4 Lb';
  src: url('../fonts/moderatoG4_Lb.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Moderatog 4 L';
  src: url('../fonts/moderatoG4_L.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}